#currentsong {
  color:white;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 3px 3px 1px black;
}

.shuffle {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: #b9c8da;
  border: 2px solid #b9c8da;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5); /* Add a shadow to the button */
  border-radius: 25px;
  width: 150px;
  user-select: none;
  transition: background-color 0.2s, color 0.2s;
  transition: border 0.2s, color 0.2s;
}
.shuffle:hover {
  background-color: rgba(0, 0, 0, .8);
  color: #394160;
  border: 2px solid #394160;
}

.shuffle.active {
  background-color: rgba(0, 0, 0, 0.75);;
  color: rgb(0, 175, 0);
  border: 2px solid rgb(0, 175, 0);
}

.shuffle.active:hover {
  background-color: rgba(0, 0, 0, 0.75);;
  color: rgb(0, 255, 0);
  border: 2px solid rgb(0, 255, 0);;
}

.icon-button {
  background: none;
  margin-inline: 20px;
  border: none;
  cursor: pointer;
  text-shadow: 7px 7px 5px rgba(0, 0, 0, .5); /* Add a shadow to the button */
  font-size: 42px; /* Adjust the icon size as needed */
  color: #b9c8da; /* Adjust the color of the icons */ 
}
.icon-button:hover {
  color: #394160; /* Adjust the color of the icons */
}
.icon-button:active {
  color: rgb(0,0,0,0) /* Adjust the color of the icons */
}

body {
  user-select: none;
  background-image: url("images/Background\ Full\ Res\ Black.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}

/*li {
  user-select: none;
}*/

/* Style the audio player container */
audio {
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  margin: 0 auto;
  margin-bottom: 20px;
}

#search {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-inline: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgb(13, 0, 20);
  color: white;
  border-radius: 1cqw;
}

#songList {
  column-count: 3;
  list-style-type: none;
  padding: 0;
  margin-inline: 250px;
  cursor: pointer;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

/* Album Button */
#album-10 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 32px;
  cursor: auto;
  color: #b9c8da;
  text-shadow: 3px 3px 1px black;
  background-color: #394160;
}

/* Individual Songs */
.song-item {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  margin-inline: 10%;
  background-color: #1d2435e3;
  text-shadow: 1px 1px 1px black;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Titles */
#album-0 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 32px;
  cursor: auto;
  margin-top: 25px;
  color: #b9c8da;
  text-shadow: 3px 3px 1px black;
  background-color: #394160;
}


/* JW3 */
#album-1 { 
  color: #007FFF ;
}
#album-1.last-clicked {
  color: #4eafff ;
}


/* DRFL */
#album-2 {
  color: rgb(255, 60, 0);
}
#album-2.last-clicked {
  color: rgb(255, 96, 96);
}


/* GB&GR */
#album-3 {
  color: rgb(6, 255, 255);
}
#album-3.last-clicked {
  color: rgb(6, 255, 180);
}


/* 999 */
#album-4 {
  color: rgb(131, 49, 207);
}
#album-4.last-clicked {
  color: rgb(194, 49, 207);
}


/* WOD */
#album-5 {
  color: limegreen;
}
#album-5.last-clicked {
  color: rgb(144, 255, 80);
}


/* Unknowns */ 
#album-6 {
  color: white;
}
#album-6.last-clicked {
  color: red;
}


/* Exclusives */
#album-7 {
  color: Gold;
}
#album-7.last-clicked {
  color: goldenrod;
}

.song-item:hover {
  color: white;
  background-color: #394160;
}

.last-clicked {
  color: rgb(255, 37, 37);
  background-color: #7386a5;
}

.last-clicked:hover {
  color: rgb(255, 0, 0);
  background-color: #7386a5;
}
@media (max-width: 1150px) {
  .song-item {
    margin-inline: 15%;
  }

  #songList {
    column-count: 1;
    margin-inline: 0px;
  }
} 