#currentsong {
  color:white;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

body {
  background-image: url("images/JuiceBackground.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
}

li {
  user-select: none;
}

/* Style the audio player container */
audio {
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  margin: 0 auto;
}

#search {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-inline: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.songlist {
  column-count: 3;
  list-style-type: none;
  padding: 0;
  margin-inline: 250px;
  cursor: pointer;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

.listheader {
  text-align: center;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  color: white;
}

.song-item {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  margin-inline: 10%;
  background-color: rgba(128, 128, 128, 0.75);
  padding-top: 5px;
  padding-bottom: 5px;
}

.song-item:hover {
  color: white;
  background-color: rgba(68, 68, 68, 0.75);
}

.last-clicked {
  color: rgb(255, 37, 37);
  background-color: rgba(0, 0, 0, 1);
}

.last-clicked:hover {
  color: rgb(255, 0, 0);
  background-color: rgba(0, 0, 0, 1);
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 52px; /* Adjust the icon size as needed */
  color: #999; /* Adjust the color of the icons */
}

@media (max-width: 1150px) {
  .song-item {
    margin-inline: 15%;
  }

  .songlist {
    column-count: 1;
    margin-inline: 0px;
  }
} 